---
updated_at: "{{ view.updated_at[:16].replace('T', ' ') if view.updated_at else '' }}"
---

{% import "components/report_frame.j2" as frame %}

{% set description_html -%}
<div class="text-block" markdown="1">
{{ view.description_markdown }}
</div>
{%- endset %}

{% set summary_table_html -%}
<div class="summary-grid">
  <section class="panel">
    {% with summary=view.summary_metrics %}
    {% include "components/home_summary_table.j2" %}
    {% endwith %}
  </section>
  <section class="panel">
    <div class="home-project-links">
      {% for item in view.project_links %}
      <a class="home-project-link" href="{{ item.href }}">{{ item.label }}</a>
      {% endfor %}
    </div>
  </section>
</div>
<div class="home-attribution">
  <p>
    Built with <a href="https://www.mkdocs.org/">MkDocs</a>,
    map data from <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>,
    and Python tooling from the <a href="https://www.python.org/psf/">Python Software Foundation</a>.
  </p>
</div>
{%- endset %}

{{ frame.render(view.page_title, view.breadcrumbs, description_html=description_html, summary_table_html=summary_table_html) }}
