---
updated_at: "{{ view.updated_at[:16].replace('T', ' ') if view.updated_at else '' }}"
---

{% import "components/report_frame.j2" as frame %}

{% set description_html -%}
<div class="text-block" markdown="1">
{{ view.description_markdown }}
</div>
{%- endset %}

{% set image_html -%}
{% if view.project_image %}
<div class="tree-hero">
  <figure>
    <img src="{{ view.project_image.image_href }}" alt="{{ view.project_image.caption }}" />
    <figcaption>{{ view.project_image.caption }}</figcaption>
  </figure>
</div>
{% endif %}
{%- endset %}

{% set map_html -%}
{% with image_href=view.project_map.image_href, alt=view.project_map.alt %}
{% include "components/map_panel.j2" %}
{% endwith %}
{%- endset %}

{% set summary_html -%}
<div class="text-block" markdown="1">
<hr class="section-rule" />
{{ view.summary_markdown }}
<hr class="section-rule" />
</div>
{%- endset %}

{% set summary_table_html -%}
{% with summary=view.summary_metrics %}
{% include "components/project_summary_table.j2" %}
{% endwith %}
{%- endset %}

{% set extra_html -%}
{% with tree_table=view.tree_rows %}
{% include "components/tree_summary_table.j2" %}
{% endwith %}
{%- endset %}

{{ frame.render(view.page_title, view.breadcrumbs, description_html=description_html, image_html=image_html, map_html=map_html, summary_html=summary_html, summary_table_html=summary_table_html, extra_html=extra_html) }}
