---
updated_at: "{{ view.updated_at[:16].replace('T', ' ') if view.updated_at else '' }}"
---

{% set title = view.page_title %}
{% set subtitle = view.title_text %}
{% include "components/header.j2" %}

{% set breadcrumbs = view.breadcrumbs %}
{% include "components/breadcrumbs.j2" %}

{% with image_href=view.tree_map.image_href, alt=view.tree_map.alt %}
{% include "components/map_panel.j2" %}
{% endwith %}

| Field | Value |
| --- | --- |
{% for label, value in view.facts %}
| {{ label }} | {{ value }} |
{% endfor %}

{% if view.image_gallery %}
<div class="tree-hero">
  <figure>
    <img src="{{ view.image_gallery[0].image_href }}" alt="{{ view.image_gallery[0].caption }}" />
    <figcaption>{{ view.image_gallery[0].caption }}</figcaption>
  </figure>
</div>
{% endif %}

<div class="text-block" markdown="1">
{{ view.summary_text }}

{% for paragraph in view.narrative_paragraphs %}
{{ paragraph }}

{% endfor %}
</div>

{% if view.image_gallery|length > 1 %}
<div class="image-strip">
{% for image in view.image_gallery[1:5] %}
  <figure>
    <img src="{{ image.image_href }}" alt="{{ image.caption }}" />
    <figcaption>{{ image.caption }}</figcaption>
  </figure>
{% endfor %}
</div>
{% endif %}

- [{{ view.completed_inspection_form_link.label }}]({{ view.completed_inspection_form_link.href }})
