<table>
  <thead>
    <tr><th>Metric</th><th>Value</th></tr>
  </thead>
  <tbody>
    <tr><td>Assessments</td><td>{{ summary.assessment_count }}</td></tr>
    <tr><td>Trees</td><td>{{ summary.tree_count }}</td></tr>
    <tr><td>Species</td><td>{{ summary.species_count }}</td></tr>
    <tr><td>Projects</td><td>{{ summary.project_count }}</td></tr>
  </tbody>
</table>
