{% macro render(title, breadcrumbs, description_html="", image_html="", map_html="", summary_html="", summary_table_html="", extra_html="") -%}
{% set title = title %}
{% set breadcrumbs = breadcrumbs %}
{% include "components/page_heading.j2" %}

{% if description_html %}
{{ description_html }}
{% endif %}

{% if image_html %}
{{ image_html }}
{% endif %}

{% if map_html %}
{{ map_html }}
{% endif %}

{% if summary_html %}
{{ summary_html }}
{% endif %}

{% if summary_table_html %}
{{ summary_table_html }}
{% endif %}

{% if extra_html %}
{{ extra_html }}
{% endif %}
{%- endmacro %}
